{% extends "base.html" %}

<!---->
{% block title%} UPDATE BLOG{% endblock %}

<!---->
{% block content %}
<div class="container my-5">
  <h1>UPDATE BLOG PAGE</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="exampleInputEmail1"
        name="image"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Blog</label>
      <input
        type="text"
        name="blog"
        class="form-control"
        id="exampleInputPassword1"
        value="{{blog.text}}"
      />
    </div>

    <button type="submit" class="btn btn-primary">ADD BLOG</button>
  </form>
</div>
{% endblock %}
